@import "../sharedStyles/varsAndFonts.scss";

.edit-input {
  background-color: $secondary-light-color;
  font-family: $font-primary;
  border: 1.3px solid $secondary-color;
  color: $secondary-dark-color;
  text-align: center;
  font-weight: 700;

  &:focus {
    outline: none;
    animation: borderBlink 1.4s infinite;
    box-shadow: 0 0 0 2px rgba($secondary-dark-color, 0.7);
  }
}

@keyframes borderBlink {
  0% {
    border-color: $secondary-color;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: $secondary-dark-color;
  }
}
