@import "./varsAndFonts.scss";

.tableElement {
  width: 63vw;
  height: 7vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr) 1.2fr;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 9px;
  font-family: $font-primary;

  .english,
  .transcription,
  .russian,
  .buttons {
    border: 1.3px solid $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-dark-color;
  }

  .transcription,
  .russian,
  .buttons {
    margin-left: 3px;
  }

  .buttons {
    justify-content: space-evenly;
  }
}
