@import "../../template";

.card {
  position: relative;
  width: 300px;
  height: 375px;
  border: 3px double $primary-color;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.7rem;
  color: $secondary-dark-color;
}

.checkTranslation {
  @extend %btn-base;
  background: $primary-light-color;
  color: #045d4b;

  &:hover {
    background: $primary-color;
  }
}

.cardTranscription {
  font-size: 1.4rem;
}

.hideTranslation {
  @extend %btn-base;
  background: #da7382;
  color: #6a0c0c;

  &:hover {
    background: #b6414d;
  }
}

.translation {
  position: absolute;
  top: 65%;
  font-size: 1.1rem;
  left: 50%;
  transform: translateX(-50%);
}
